@model List<Post>

<div class="card mb-2">
    <div class="card-header">
        <h5 class="card-title mb-0">New Posts</h5>
    </div>
    <div class="card-body">
        @foreach(var post in Model){
            <div class="mb-3">
                <h6 class="mb-0">
                    <a href="/posts/details/@post.Url"><!--linkle eşleştirdim basınca o sayfa gelecek-->
                        @post.Title
                    </a>
                </h6>
            </div>
        }
        <hr class="my-4">
        <div>
            <h4 class="mb-3">Yorum Ekle</h4>
            <form action="/posts/AddComment" method="post">
                <input type="hidden" id="PostId" name="PostId" value="@Model.PostId">
                <div class="mb-3">
                    <label for="UserName" class="form-label">UserName</label>
                    <input type="text" name="UserName" id="UserName" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="Text" class="form-label">Yorum</label>
                    <textarea type="text" name="Text" id="Text" rows="3" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <button id="btnYorumKayit" type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>